#banner3 {
    background-color: #F5F5DC;
    color: white;
    text-align: center;
    padding: 20px;
    animation: fadeInOut 3s ease-in-out infinite;
}

.animated-element {
    animation: fadeInOut 3s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
